rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stocks/{ticker} {
      allow read: if true;
      allow write: if false;
    }
    match /stocks/{ticker}/analyses/{date} {
      allow read: if true;
      allow write: if false;
    }
  }
}
